.headline {
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
  color: var(--color-white);
}

.dark {
  color: var(--color-black);
}

.size45 {
  font-size: 45px;
}

.size35 {
  font-size: 35px;
}

.size32 {
  font-size: 32px;
}
