.headline {
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
}

.white {
  color: var(--color-white);
}

.dark {
  color: var(--color-black);
}

.size45 {
  font-size: var(--font-headline);
}

.size35 {
  font-size: var(--font-sub-headline);
}

.size32 {
  font-size: var(--font-body);
}

.size18 {
  font-size: var(--font-sub-body);
}
