.button {
  width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 66px 40px;
  background-color: var(--color-black);
  box-shadow: 2px 4px 13px 1px rgb(0 0 0 / 25%);
  opacity: 0.95;
  border-radius: 15px;
  cursor: pointer;
}
