.container {
  min-height: 100vh;
  padding: 69px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/backgrounds/auth-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
