.container {
  min-height: 100vh;
  background-color: var(--color-gray);
  background-image: url('/assets/backgrounds/dashboard-background.png');
  background-position: 15% 110%;
  background-repeat: no-repeat;
}
