.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: fit-content;
  padding: 41px 46px 51px 46px;
  background-color: var(--color-black);
  border-radius: 38px;
}

.checkboxWrapper {
  align-self: start;
}