:root {
  --color-black: #12130F;
  --color-white: #EAE6E5;
  --color-red: #AF253C;
  --color-green: #8FCB9B;
  --color-brown: #8F8073;

  --font-headline: 45px; 
  --font-body: 21px;
  --font-sub-body: 18px;
}