:root {
  --color-black: #12130f;
  --color-white: #eae6e5;
  --color-white-transparent: #eae6e546;
  --color-red: #af253c;
  --color-green: #8fcb9b;
  --color-brown: #8f8073;

  --font-headline: 45px;
  --font-body: 21px;
  --font-sub-body: 18px;
}
