:root {
  --color-black: #12130f;
  --color-white: #eae6e5;
  --color-gray: #f2ede7;
  --color-red: #af253c;
  --color-green: #8fcb9b;
  --color-blue: #4fa1e4;
  --color-orange: #ecdfcf;
  --color-black-90: #12130feb;
  --color-white-20: #eae6e533;
  --font-headline: 45px;
  --font-sub-headline: 35px;
  --font-body: 21px;
  --font-sub-body: 18px;
  --font-caption: 14px;
}
