.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.content {
  width: 100%;
  max-width: 500px;
}
