:root {
  --color-black: #12130F;
  --color-white: #EAE6E5;
  --color-red: #AF253C;
  --color-green: #8FCB9B;
  --color-brown: #8F8073;

  --font-headline: 45px; 
  --font-body: 21px;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primary-font), sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
