.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  width: fit-content;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 35px 0 28px;
  background-color: var(--color-black);
}

.top {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.buttom {
  padding: 0 28px;
}
