.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 26px 76px 56px 72px;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-black);
  opacity: .97;
  border-radius: 15px;
}

.actions {
  display: flex;
  gap: 41;
  flex-wrap: wrap;
}