.input-wrapper {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}

.input {
  min-width: 489px;
  width: 100%;
  padding: 19px 19px 22px 21px;
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
  font-size: var(--font-body);
  border: none;
  outline: none;
  border-radius: 20px;
}

.white {
  color: var(--color-black);
  background-color: var(--color-white);
}

.dark {
  color: var(--color-white) !important;
  background-color: var(--color-black);
}
